body{
    background-image: url("./back.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.a{
    color:rgba(246, 113, 5, 0.982);
    text-shadow: 4px 1px 0px black;
    background-size: cover;
    text-align: center;
    text-size-adjust: 90px;
}
.b{
    color:deeppink;
}
#box1{
    color:;
}
#box2{
    animation: myColorChange;
    animation-iteration-count: infinite;
    animation-play-state: running;
    
}
#box2:active{

}
@keyframes myColorChange{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}
}